table {
  display: grid;
  grid-template-columns: repeat(49, auto);
  height: 50vh;
  width: 100vw;
  overflow: auto;
  resize: both;
  background:#333533;
  scrollbar-color: rgba(255, 100, 70, 0.8) rgba(0, 100, 200, 0.5);
  
}
th,
td {
  padding: 1em;
}
thead,
tbody,
tr {
  display: contents;
}
th[aria-controls] {
  position: sticky;
  top: 0;
  background: #000000;
  color: white;
}

/* add some gaps */
table {
  grid-gap: 0.2px;
}

h1 {
  margin: 0;
  text-align: center;
  line-height: 0.8;
  color: White;
  text-shadow: 0 0 1px tomato, 0 0 1px tomato, 0 0 1px tomato, 0 0 1px tomato,
    0 0 1px tomato;
}

/* cell alignements */
td {
  display: grid;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

tr th:first-child ,tr td:first-child {
  position: sticky;
  left: 0;
  border-right: solid 3px;
  background: #000000;
  z-index:1;
}
tr th:first-child {z-index:2;}
[data-rowspan="2"] {grid-row:span 2}

tr th:first-child {z-index:2;}
[data-colspan="1"] {grid-column:span 1}
[data-colspan="2"] {grid-column:span 2}
[data-colspan="3"] {grid-column:span 3}
[data-colspan="4"] {grid-column:span 4}
[data-colspan="5"] {grid-column:span 5}
[data-colspan="6"] {grid-column:span 6}
[data-colspan="7"] {grid-column:span 7}
[data-colspan="8"] {grid-column:span 8}
[data-colspan="9"] {grid-column:span 9}
[data-colspan="10"] {grid-column:span 10}
[data-colspan="11"] {grid-column:span 11}
[data-colspan="12"] {grid-column:span 12}
[data-colspan="13"] {grid-column:span 13}
[data-colspan="14"] {grid-column:span 14}
[data-colspan="15"] {grid-column:span 15}
[data-colspan="16"] {grid-column:span 16}
[data-colspan="17"] {grid-column:span 17}
[data-colspan="18"] {grid-column:span 18}
[data-colspan="19"] {grid-column:span 19}
[data-colspan="20"] {grid-column:span 20}
[data-colspan="21"] {grid-column:span 21}
[data-colspan="22"] {grid-column:span 22}
[data-colspan="23"] {grid-column:span 23}
[data-colspan="24"] {grid-column:span 24}



.btn-close{
  background:red; height:40px; width:40px; position:absolute; top:3%;right:3%;border-radius:100px
}
.btn-close:hover{
  background: white;
  cursor: pointer;
}
.btnContainer{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh
}
.btnContainer:hover{
  cursor: pointer;
}